<br />
<div class=" row">
  <div class="col-md-5 offset-md-1 col-sm-12 dino">
 
  </div>
  <br />
  <br />
  <div class="col-md-5  col-sm-12 ">
    <div class="container title">
      <h4 class="main">What is Your</h4>
      <h1 class="main dino-name">Dinosaur Name?</h1>
    </div>
    

    <div class="container">
      
      <%= simple_form_for Dinoname.new, method: :get do |f| %>
        <%= f.input :name, placeholder:"Enter your first name"  %>
        <br />
        <%= f.submit 'Submit', class: 'btn btn-danger' %>
      <% end %>
      <br />
      <br />
    </div>
  </div>

  
</div>
<br />
<br />

<div class="col-6 offset-3 text-center">
  <h1 class="main"> ++ Top Dino-Names ++</h1> 
  
    <table>
      <thead><th>Name</th><th>Diet</th><th>Rank</th></thead>
      <tbody>
      <% @dinos.each do |d| %>
        <tr class="top-dinos text-center">
          <td><h3><%= d.name %></h3></td> <td><h4><%= d.diet %></h4></td> <td><h4><%= d.id %></h4></td>
          </tr>
        <% end %>
        </tbody>
    </table>
  

    <br />
    <br />
</div>
