<br />
<div class="row">
  <div class="col-md-5 offset-md-1 col-sm-12 col-xs-12 dino">
 
  </div>
  <br />
  <br />
  <div class="col-md-5  col-sm-12 col-xs-12 ">
    <div class="container title">
      <h4 class="main">What is Your</h4>
      <h1 class="main dino-name">Dinosaur Name?</h1>
    </div>
    

    <div class="container">
      
      <%= simple_form_for Dinoname.new, method: :get do |f| %>
        <%= f.input :name, placeholder:"Enter your first name"  %>
        <br />
        <%= f.submit 'Submit', class: 'btn btn-lg btn-danger' %>
      <% end %>
      <br />
      <br />
    </div>
  </div>

  
</div>
<br />
<br />

<div class="col-12  container ">
  <div class="container text-center">
    <h1 class="main"> ++ Top Dino-Names ++</h1> 
  </div>
  <div class="row col-md-10 offset-md-1 col-sm-12 col-xs-12">
  
  
    <table class="table table-dark table-hover table-responsive{ -xs | -sm | -md}">
      <thead ><th>Rank</th><th>Name</th><th>Diet</th><th>Vote</th><th>Count</th></thead>
      <tbody>
        
      <% @dinos.order(:cached_votes_up => :desc).each do |d| %>
      
        <tr class="top-dinos">
          <td></td><td><h5><%= d.name %></h5></td> <td><h5><%= d.diet %></h5></td> <td class="text-center">

            <%= link_to like_dino_path(d), method: :put do %><i class="fa  fa-thumbs-up fa-lg"></i></td><td class="text-center"><%= d.get_upvotes.size %>
              <% end %></td>
        </tr>

        <% end %>
         
      </tbody>
    </table>
  
  </div>
  <br />
</div>
