<div class="col-4 offset-4 ">
  <h4 class="main">What is Your</h4>
<h1 class="main">Dinosaur Name?</h1>

</div>

<div class="container">
  <div class="row">

  <h1>Enter A New Dinosaur</h1>
  <%= simple_form_for @dino do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.dropdown :diet %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
   <% end %>



  </div>
</div>