<div class="col-12 yourDinoname">
<br />
<br />
<h1 class="main">Your Dinosaur name is:</h1>
<h1 class="main dino-name"><%= @dinoname.formatted_name %></h1>
<br />
<br />
  <div class="col-6 offset-3 col-xs-12">
    <%= simple_form_for Dino.new(name: @dinoname.formatted_name) do |f| %>
      <%= f.input :name, as: :hidden %>  
      <%= f.input :diet, as: :radio_buttons, collection: [[0,'Carnivore'], [1, 'Herbivore'], [2, 'Omnivore']], label_method: :second, value_method: :second %>
      <br />
    <div class="btn-group-lrg">
        <%= f.submit 'Keep My Name', class: 'btn btn-primary' %>
    <% end %>
    <%= link_to dinonames_path(dinoname: {name: @dinoname.name}), class: "btn btn-danger try-again"  do %><%= image_tag 'dinosaur-logo.png', class: 'icon' %>
        Try Again!
      <% end %>
    </div>
  </div>
</div>


