<!DOCTYPE html>
<html>
  <head>
    <title>Dinoname</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="float-left icon" href="/#"><%= image_tag 'dinosaur-logo.png', class: 'icon' %>
        <br />
        
      </a>
      
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          
          <li class="nav-item">
            
            <a href="/#"><i class="fa fa-plus-circle"></i>
            New Dinoname
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <%= yield %>
  </body>
</html>
